<div class="main" >
 <div class="col-md-1">
     
     <button ng-click="promptPlayer()">Players</button>
 </div>
  <div >
  
  <h1>Dev Jeopardy</h1>
  
  </div>

<!--  categories-->
   <div class="row">
      <div class="col-md-2 col-md-offset-  category">
       <h2>Arrays</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 category">
       <h2>Objects</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 category">
       <h2>Functions</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 category">
       <h2>Frameworks</h2>
       </div>
       
   </div>
<!--   questions for 200 begin-->
   <div class="row">
       <div class="col-md-2  numbers"  ng-click="Array200();">
       <h2>$200</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="object200();">
       <h2 >$200</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="functions200();">
       <h2 >$200</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="frameworks200();">
       <h2 >$200</h2>
       </div>
   </div>
   <div>
       
   </div>
<!--   Questions for 400 begin-->
   <div class="row">
       <div class="col-md-2  numbers" ng-click="Array400();">
       <h2 >$400</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="object400();">
       <h2 >$400</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="functions400();">
       <h2 >$400</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers"ng-click="frameworks400();">
       <h2 >$400</h2>
       </div>
       
   </div>

   <questions class="animated"></questions>
    
<!--    questions for 600 begin-->

<div class="row">
       <div class="col-md-2  numbers"ng-click="Array600();">
       <h2 >$600</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="object600();">
       <h2 >$600</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers"ng-click="functions600();">
       <h2 >$600</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers"ng-click="frameworks600();">
       <h2 >$600</h2>
       </div>
   </div>
<!--   questions or 800 begin-->
   <div class="row">
       <div class="col-md-2  numbers" ng-click="Array800();">
       <h2 >$800</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers"ng-click="object800();">
       <h2 >$800</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="functions800();">
       <h2 >$800</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="frameworks800()">
       <h2 >$800</h2>
       </div>
   </div>
<!--   questions for 1000 begin-->
<div class="row">
       <div class="col-md-2  numbers" ng-click="Array1000();">
       <h2 >$1000</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="object1000()">
       <h2 >$1000</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="functions1000()">
       <h2 >$1000</h2>
       </div>
       <div class="col-md-2 col-md-offset-1 numbers" ng-click="frameworks1000()">
       <h2 >$1000</h2>
       </div>
       <players></players>
   </div>
   
</div>