<div class="container howTo">
   <div>
    <h1>How To Play:</h1>   
    </div>
    <ol>
        <li>Click play now from the home page, users can play individually or in groups.</li>
        <li>Click players to be prompted to enter name of your team</li>
        <li>Team must pick a player to play paper, sissor, rock to figure out who is going to play first</li>
        <li>Team must pick a category and a dollar amount then click that box for a question will appear</li>
        <li>Students must give the answer in the form of a question before clicking  the question again</li>
        <li>To see if a student or group is correct, click again for the answer.</li>
        <li>At the bottom of the screen you can at a point to the correct team</li>
    </ol>
</div>

