
<div ng-dblclick="hide();">
<!--Array categories-->
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway" >
    {{Array200.question}}
    
</div>
<div ng-hide="showAnswer" >
   {{Array200.answer}}
</div>
</div>


<div ng-dblclick="hide1();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway1" >
    {{Array400.question}}
</div>
<div ng-hide="showAnswer" >
   {{Array400.answer}}
</div>
</div>


<div ng-dblclick="hide();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway2" >
    {{Array600.question}}
</div>
<div ng-hide="showAnswer">
   {{Array600.answer}}
</div>
</div>



<div ng-dblclick="hide3();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway3" >
    {{Array800.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer">
   {{Array800.answer}}
</div>
</div>


<div ng-dblclick="hide4();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway4" >
    {{Array1000.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
   {{Array1000.answer}}
</div>
</div>



<!--object categories-->
<div ng-dblclick="hide5();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway5" >
    {{object200.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
   {{object200.answer}}
</div>
</div>

<div ng-dblclick="hide6();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway6" >
    {{object400.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
   {{object400.answer}}
</div>
</div>


<div ng-dblclick="hide7();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway7" >
    {{object600.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{object600.answer}}
</div>
</div>


<div ng-dblclick="hide8();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway8" >
    {{object800.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
   {{object800.answer}}
</div>
</div>


<div ng-dblclick="hide9();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway9" >
    {{object1000.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
   {{object1000.answer}}
</div>
</div>

<!--functions categories-->

<div ng-dblclick="hide10();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway10" >
    {{functions200.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{functions200.answer}}
</div>
</div>


<div ng-dblclick="hide11();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway11" >
    {{functions400.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
 {{functions400.answer}}
</div>
</div>


<div ng-dblclick="hide12();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway12" >
    {{functions600.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{functions600.answer}}
</div>
</div>


<div ng-dblclick="hide13();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway13" >
    {{functions800.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer">
  {{functions800.answer}}
</div>
</div>


<div ng-dblclick="hide14();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway14" >
    {{functions1000.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer">
  {{functions1000.answer}}
</div>
</div>


<!--frameworks categories-->
<div ng-dblclick="hide15();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway15" >
    {{frameworks200.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer">
   {{frameworks200.answer}}
</div>
</div>


<div ng-dblclick="hide16();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway16" >
    {{frameworks400.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{frameworks400.answer}}
</div>
</div>

<div ng-dblclick="hide17();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway17" >
    {{frameworks600.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{frameworks600.answer}}
</div>
</div>


<div ng-dblclick="hide18();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway18" >
    {{frameworks800.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{frameworks800.answer}}
</div>
</div>


<div ng-dblclick="hide19();">
<div class="animated rotateIn" ng-click="question();" ng-hide="goAway19" >
    {{frameworks1000.question}}
</div>
<div class="animated rotateIn" ng-hide="showAnswer" >
  {{frameworks1000.answer}}
</div>
</div>

