/*
@font-face {font-family: "ITC Korinna";
    src: url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.eot");
    src: url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/ad2018bfc438bddea8e47c71a85f169b.svg#ITC Korinna") format("svg")
}
*/
button {
    margin-top: 20%;
}   
    
.category {
    border: 5px solid black;
   
   background-color: white;
    text-align: center;
  color: gold;
}
.numbers {
    margin-top: 2.6%;
    border: 5px solid black;
   
    background-color: white;
    text-align: center;
}
.main {
    background-color: blue;
    text-align: center;
}
.main h1 {
   color: gold;
    text-align: center;
    font-size: 70px;
    margin-top: 3%;
    text-decoration-style: none;
}
.players {
    color: gold;
}
questions {
    font-size: 100px;
    font-family: ITC Korinna;
    color: gold;    
    
}
.players button {
    color: blue;
    font-size: 20px;
}